certifi==2023.11.17
charset-normalizer==3.3.2
idna==3.6
importlib-metadata==6.8.0
jsons==1.6.3
platformdirs==4.0.0
requests==2.31.0
tomli==2.0.1
typish==1.9.3
urllib3==2.1.0
yapf==0.40.2
zipp==3.17.0
